* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #424242;
}

html {
    font-size: 1.1em;
}

.logo {
    font-size: 3rem;
    text-align: center;
}

.accent {
    color: var(--brand-color);
}

:root {
    --brand-color: #e16365;
    --grey: #f9f9f9;
}

body {
    margin: 0;
    background-color: var(--grey);
}

.container {
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 800px;
}

#randomCharacter {
    font-size: 120px;
    margin: 20px;
    line-height: 1;
    color: var(--brand-color);
    text-align: center;
}

.score {
    display: flex;
    justify-content: flex-end;
}

.score p:last-child {
    margin-left: 2ch;
}

.button {
    padding: 10px 20px;
    background-color: var(--brand-color);
    color: white;
    border: none;
    border-radius: 5px;
}

.cta {
    border: none;
    background: transparent;
    font-size: 1.25rem;
    margin: auto;
}

.game-title {
    font-family: 'Helvetica Neue', 'arial', sans-serif;
    font-size: 4.25rem;
    font-weight: 300;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}
