* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #424242;
}

body {
    margin: 0;
}

.container {
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
    flex-direction: column;
    box-shadow: 0px 0px 1px #333;
}

#randomCharacter {
    font-size: 120px;
    margin: 20px;
    line-height: 1;
    color: tomato;
}

#scoreText {
    font-size: 54px;
}

button {
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}
